In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./Data/adult.csv')

In [3]:
df.columns

Index(['id', 'A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score',
       'A6_Score', 'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score', 'age',
       'gender', 'ethnicity', 'jundice', 'austim', 'contry_of_res',
       'used_app_before', 'result', 'age_desc', 'relation', 'Class/ASD'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704 entries, 0 to 703
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               704 non-null    int64
 1   A1_Score         704 non-null    int64
 2   A2_Score         704 non-null    int64
 3   A3_Score         704 non-null    int64
 4   A4_Score         704 non-null    int64
 5   A5_Score         704 non-null    int64
 6   A6_Score         704 non-null    int64
 7   A7_Score         704 non-null    int64
 8   A8_Score         704 non-null    int64
 9   A9_Score         704 non-null    int64
 10  A10_Score        704 non-null    int64
 11  age              704 non-null    object
 12  gender           704 non-null    object
 13  ethnicity        704 non-null    object
 14  jundice          704 non-null    object
 15  austim           704 non-null    object
 16  contry_of_res    704 non-null    object
 17  used_app_before  704 non-null    object
 18  result           704 non-null    int64
 19  age_desc         704 non-null    object
 20  relation         704 non-null    object
 21  Class/ASD        704 non-null    object
dtypes: int64(12), object(10)
memory usage: 121.1+ KB

Cleaning Age

In [8]:
df.loc[df['age'] == '?', 'age'] = float('nan')

In [9]:
df.dropna(inplace=True)

In [13]:
df['age'] = df['age'].astype(int)

Cleaning Gender

In [15]:
df['gender'].unique()

array(['f', 'm'], dtype=object)

Mapping f to 0 and m to 1

In [16]:
df.loc[df['gender'] == 'f', 'gender'] = 0
df.loc[df['gender'] == 'm', 'gender'] = 1

In [17]:
df['gender'] = df['gender'].astype(int)

Cleaning ethnicity

In [18]:
df['ethnicity'].unique()

array(['White-European', 'Latino', '?', 'Others', 'Black', 'Asian',
       'Middle Eastern ', 'Pasifika', 'South Asian', 'Hispanic',
       'Turkish', 'others'], dtype=object)

In [19]:
df.loc[df['ethnicity'] == '?', 'ethnicity'] = float('nan')

In [20]:
df.dropna(inplace=True)

Cleaning jundice

In [22]:
df['jundice'].unique()

array(['no', 'yes'], dtype=object)

In [23]:
df.loc[df['jundice'] == 'no', 'jundice'] = 0
df.loc[df['jundice'] == 'yes', 'jundice'] = 1

In [31]:
df['jundice'] = df['jundice'].astype(int)

Cleaning austim

In [24]:
df['austim'].unique()

array(['no', 'yes'], dtype=object)

In [29]:
df.loc[df['austim'] == 'no', 'austim'] = 0
df.loc[df['austim'] == 'yes', 'austim'] = 1

In [32]:
df['austim'] = df['austim'].astype(int)

Changing Class/ASD

In [34]:
df['Class/ASD'].unique()

array(['NO', 'YES'], dtype=object)

In [35]:
df.loc[df['Class/ASD'] == 'NO', 'Class/ASD'] = 0
df.loc[df['Class/ASD'] == 'YES', 'Class/ASD'] = 1

In [36]:
df['Class/ASD'] = df['Class/ASD'].astype(int)

Dropping relation, age_desc, used_app_before, id

In [27]:
df.drop(['relation', 'age_desc', 'used_app_before', 'id'], axis = 1, inplace=True)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 609 entries, 0 to 703
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   A1_Score       609 non-null    int64
 1   A2_Score       609 non-null    int64
 2   A3_Score       609 non-null    int64
 3   A4_Score       609 non-null    int64
 4   A5_Score       609 non-null    int64
 5   A6_Score       609 non-null    int64
 6   A7_Score       609 non-null    int64
 7   A8_Score       609 non-null    int64
 8   A9_Score       609 non-null    int64
 9   A10_Score      609 non-null    int64
 10  age            609 non-null    int32
 11  gender         609 non-null    int32
 12  ethnicity      609 non-null    object
 13  jundice        609 non-null    int32
 14  austim         609 non-null    int32
 15  contry_of_res  609 non-null    object
 16  result         609 non-null    int64
 17  Class/ASD      609 non-null    int32
dtypes: int32(5), int64(11), object(2)
memory usage: 78.5+ KB

One hot encoding ethnicity and contry_of_res

In [38]:
df = pd.get_dummies(df)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 609 entries, 0 to 703
Data columns (total 87 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   A1_Score                            609 non-null    int64
 1   A2_Score                            609 non-null    int64
 2   A3_Score                            609 non-null    int64
 3   A4_Score                            609 non-null    int64
 4   A5_Score                            609 non-null    int64
 5   A6_Score                            609 non-null    int64
 6   A7_Score                            609 non-null    int64
 7   A8_Score                            609 non-null    int64
 8   A9_Score                            609 non-null    int64
 9   A10_Score                           609 non-null    int64
 10  age                                 609 non-null    int32
 11  gender                              609 non-null    int32
 12  jundice                             609 non-null    int32
 13  austim                              609 non-null    int32
 14  result                              609 non-null    int64
 15  Class/ASD                           609 non-null    int32
 16  ethnicity_Asian                     609 non-null    uint8
 17  ethnicity_Black                     609 non-null    uint8
 18  ethnicity_Hispanic                  609 non-null    uint8
 19  ethnicity_Latino                    609 non-null    uint8
 20  ethnicity_Middle Eastern            609 non-null    uint8
 21  ethnicity_Others                    609 non-null    uint8
 22  ethnicity_Pasifika                  609 non-null    uint8
 23  ethnicity_South Asian               609 non-null    uint8
 24  ethnicity_Turkish                   609 non-null    uint8
 25  ethnicity_White-European            609 non-null    uint8
 26  ethnicity_others                    609 non-null    uint8
 27  contry_of_res_Afghanistan           609 non-null    uint8
 28  contry_of_res_AmericanSamoa         609 non-null    uint8
 29  contry_of_res_Angola                609 non-null    uint8
 30  contry_of_res_Armenia               609 non-null    uint8
 31  contry_of_res_Aruba                 609 non-null    uint8
 32  contry_of_res_Australia             609 non-null    uint8
 33  contry_of_res_Austria               609 non-null    uint8
 34  contry_of_res_Bahamas               609 non-null    uint8
 35  contry_of_res_Bangladesh            609 non-null    uint8
 36  contry_of_res_Belgium               609 non-null    uint8
 37  contry_of_res_Bolivia               609 non-null    uint8
 38  contry_of_res_Brazil                609 non-null    uint8
 39  contry_of_res_Burundi               609 non-null    uint8
 40  contry_of_res_Canada                609 non-null    uint8
 41  contry_of_res_Chile                 609 non-null    uint8
 42  contry_of_res_China                 609 non-null    uint8
 43  contry_of_res_Costa Rica            609 non-null    uint8
 44  contry_of_res_Cyprus                609 non-null    uint8
 45  contry_of_res_Czech Republic        609 non-null    uint8
 46  contry_of_res_Ecuador               609 non-null    uint8
 47  contry_of_res_Egypt                 609 non-null    uint8
 48  contry_of_res_Ethiopia              609 non-null    uint8
 49  contry_of_res_Finland               609 non-null    uint8
 50  contry_of_res_France                609 non-null    uint8
 51  contry_of_res_Germany               609 non-null    uint8
 52  contry_of_res_Iceland               609 non-null    uint8
 53  contry_of_res_India                 609 non-null    uint8
 54  contry_of_res_Indonesia             609 non-null    uint8
 55  contry_of_res_Iran                  609 non-null    uint8
 56  contry_of_res_Ireland               609 non-null    uint8
 57  contry_of_res_Italy                 609 non-null    uint8
 58  contry_of_res_Jordan                609 non-null    uint8
 59  contry_of_res_Malaysia              609 non-null    uint8
 60  contry_of_res_Mexico                609 non-null    uint8
 61  contry_of_res_Nepal                 609 non-null    uint8
 62  contry_of_res_Netherlands           609 non-null    uint8
 63  contry_of_res_New Zealand           609 non-null    uint8
 64  contry_of_res_Nicaragua             609 non-null    uint8
 65  contry_of_res_Niger                 609 non-null    uint8
 66  contry_of_res_Oman                  609 non-null    uint8
 67  contry_of_res_Pakistan              609 non-null    uint8
 68  contry_of_res_Philippines           609 non-null    uint8
 69  contry_of_res_Portugal              609 non-null    uint8
 70  contry_of_res_Romania               609 non-null    uint8
 71  contry_of_res_Russia                609 non-null    uint8
 72  contry_of_res_Saudi Arabia          609 non-null    uint8
 73  contry_of_res_Serbia                609 non-null    uint8
 74  contry_of_res_Sierra Leone          609 non-null    uint8
 75  contry_of_res_South Africa          609 non-null    uint8
 76  contry_of_res_Spain                 609 non-null    uint8
 77  contry_of_res_Sri Lanka             609 non-null    uint8
 78  contry_of_res_Sweden                609 non-null    uint8
 79  contry_of_res_Tonga                 609 non-null    uint8
 80  contry_of_res_Turkey                609 non-null    uint8
 81  contry_of_res_Ukraine               609 non-null    uint8
 82  contry_of_res_United Arab Emirates  609 non-null    uint8
 83  contry_of_res_United Kingdom        609 non-null    uint8
 84  contry_of_res_United States         609 non-null    uint8
 85  contry_of_res_Uruguay               609 non-null    uint8
 86  contry_of_res_Viet Nam              609 non-null    uint8
dtypes: int32(5), int64(11), uint8(71)
memory usage: 111.2 KB

In [40]:
df.to_csv("./Data/adult_cleaned.csv", index=False)