In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('./Data/child.csv')

In [4]:
df.columns

Index(['id', 'A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score',
       'A6_Score', 'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score', 'age',
       'gender', 'ethnicity', 'jundice', 'austim', 'contry_of_res',
       'used_app_before', 'result', 'age_desc', 'relation', 'Class/ASD'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292 entries, 0 to 291
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               292 non-null    int64
 1   A1_Score         292 non-null    int64
 2   A2_Score         292 non-null    int64
 3   A3_Score         292 non-null    int64
 4   A4_Score         292 non-null    int64
 5   A5_Score         292 non-null    int64
 6   A6_Score         292 non-null    int64
 7   A7_Score         292 non-null    int64
 8   A8_Score         292 non-null    int64
 9   A9_Score         292 non-null    int64
 10  A10_Score        292 non-null    int64
 11  age              292 non-null    object
 12  gender           292 non-null    object
 13  ethnicity        292 non-null    object
 14  jundice          292 non-null    object
 15  austim           292 non-null    object
 16  contry_of_res    292 non-null    object
 17  used_app_before  292 non-null    object
 18  result           292 non-null    int64
 19  age_desc         292 non-null    object
 20  relation         292 non-null    object
 21  Class/ASD        292 non-null    object
dtypes: int64(12), object(10)
memory usage: 50.3+ KB

Cleaning Age

In [6]:
df.loc[df['age'] == '?', 'age'] = float('nan')

In [7]:
df.dropna(inplace=True)

In [8]:
df['age'] = df['age'].astype(int)

Cleaning Gender

In [9]:
df['gender'].unique()

array(['m', 'f'], dtype=object)

Mapping f to 0 and m to 1

In [10]:
df.loc[df['gender'] == 'f', 'gender'] = 0
df.loc[df['gender'] == 'm', 'gender'] = 1

In [11]:
df['gender'] = df['gender'].astype(int)

Cleaning ethnicity

In [12]:
df['ethnicity'].unique()

array(['Others', 'Middle Eastern ', '?', 'White-European', 'Black',
       'South Asian', 'Asian', 'Pasifika', 'Hispanic', 'Turkish',
       'Latino'], dtype=object)

In [13]:
df.loc[df['ethnicity'] == '?', 'ethnicity'] = float('nan')

In [14]:
df.dropna(inplace=True)

Cleaning jundice

In [15]:
df['jundice'].unique()

array(['no', 'yes'], dtype=object)

In [16]:
df.loc[df['jundice'] == 'no', 'jundice'] = 0
df.loc[df['jundice'] == 'yes', 'jundice'] = 1

In [17]:
df['jundice'] = df['jundice'].astype(int)

Cleaning austim

In [18]:
df['austim'].unique()

array(['no', 'yes'], dtype=object)

In [19]:
df.loc[df['austim'] == 'no', 'austim'] = 0
df.loc[df['austim'] == 'yes', 'austim'] = 1

In [20]:
df['austim'] = df['austim'].astype(int)

Changing Class/ASD

In [21]:
df['Class/ASD'].unique()

array(['NO', 'YES'], dtype=object)

In [22]:
df.loc[df['Class/ASD'] == 'NO', 'Class/ASD'] = 0
df.loc[df['Class/ASD'] == 'YES', 'Class/ASD'] = 1

In [23]:
df['Class/ASD'] = df['Class/ASD'].astype(int)

Dropping relation, age_desc, used_app_before, id

In [24]:
df.drop(['relation', 'age_desc', 'used_app_before', 'id'], axis = 1, inplace=True)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 248 entries, 0 to 291
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   A1_Score       248 non-null    int64
 1   A2_Score       248 non-null    int64
 2   A3_Score       248 non-null    int64
 3   A4_Score       248 non-null    int64
 4   A5_Score       248 non-null    int64
 5   A6_Score       248 non-null    int64
 6   A7_Score       248 non-null    int64
 7   A8_Score       248 non-null    int64
 8   A9_Score       248 non-null    int64
 9   A10_Score      248 non-null    int64
 10  age            248 non-null    int32
 11  gender         248 non-null    int32
 12  ethnicity      248 non-null    object
 13  jundice        248 non-null    int32
 14  austim         248 non-null    int32
 15  contry_of_res  248 non-null    object
 16  result         248 non-null    int64
 17  Class/ASD      248 non-null    int32
dtypes: int32(5), int64(11), object(2)
memory usage: 32.0+ KB

One hot encoding ethnicity and contry_of_res

In [26]:
df = pd.get_dummies(df)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 248 entries, 0 to 291
Data columns (total 72 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   A1_Score                             248 non-null    int64
 1   A2_Score                             248 non-null    int64
 2   A3_Score                             248 non-null    int64
 3   A4_Score                             248 non-null    int64
 4   A5_Score                             248 non-null    int64
 5   A6_Score                             248 non-null    int64
 6   A7_Score                             248 non-null    int64
 7   A8_Score                             248 non-null    int64
 8   A9_Score                             248 non-null    int64
 9   A10_Score                            248 non-null    int64
 10  age                                  248 non-null    int32
 11  gender                               248 non-null    int32
 12  jundice                              248 non-null    int32
 13  austim                               248 non-null    int32
 14  result                               248 non-null    int64
 15  Class/ASD                            248 non-null    int32
 16  ethnicity_Asian                      248 non-null    uint8
 17  ethnicity_Black                      248 non-null    uint8
 18  ethnicity_Hispanic                   248 non-null    uint8
 19  ethnicity_Latino                     248 non-null    uint8
 20  ethnicity_Middle Eastern             248 non-null    uint8
 21  ethnicity_Others                     248 non-null    uint8
 22  ethnicity_Pasifika                   248 non-null    uint8
 23  ethnicity_South Asian                248 non-null    uint8
 24  ethnicity_Turkish                    248 non-null    uint8
 25  ethnicity_White-European             248 non-null    uint8
 26  contry_of_res_Afghanistan            248 non-null    uint8
 27  contry_of_res_Argentina              248 non-null    uint8
 28  contry_of_res_Armenia                248 non-null    uint8
 29  contry_of_res_Australia              248 non-null    uint8
 30  contry_of_res_Austria                248 non-null    uint8
 31  contry_of_res_Bahrain                248 non-null    uint8
 32  contry_of_res_Bangladesh             248 non-null    uint8
 33  contry_of_res_Bhutan                 248 non-null    uint8
 34  contry_of_res_Brazil                 248 non-null    uint8
 35  contry_of_res_Bulgaria               248 non-null    uint8
 36  contry_of_res_Canada                 248 non-null    uint8
 37  contry_of_res_Costa Rica             248 non-null    uint8
 38  contry_of_res_Egypt                  248 non-null    uint8
 39  contry_of_res_Europe                 248 non-null    uint8
 40  contry_of_res_Georgia                248 non-null    uint8
 41  contry_of_res_Germany                248 non-null    uint8
 42  contry_of_res_Ghana                  248 non-null    uint8
 43  contry_of_res_India                  248 non-null    uint8
 44  contry_of_res_Iraq                   248 non-null    uint8
 45  contry_of_res_Ireland                248 non-null    uint8
 46  contry_of_res_Isle of Man            248 non-null    uint8
 47  contry_of_res_Italy                  248 non-null    uint8
 48  contry_of_res_Japan                  248 non-null    uint8
 49  contry_of_res_Jordan                 248 non-null    uint8
 50  contry_of_res_Libya                  248 non-null    uint8
 51  contry_of_res_Malaysia               248 non-null    uint8
 52  contry_of_res_Malta                  248 non-null    uint8
 53  contry_of_res_Mexico                 248 non-null    uint8
 54  contry_of_res_Nepal                  248 non-null    uint8
 55  contry_of_res_Netherlands            248 non-null    uint8
 56  contry_of_res_New Zealand            248 non-null    uint8
 57  contry_of_res_Nigeria                248 non-null    uint8
 58  contry_of_res_Oman                   248 non-null    uint8
 59  contry_of_res_Pakistan               248 non-null    uint8
 60  contry_of_res_Philippines            248 non-null    uint8
 61  contry_of_res_Romania                248 non-null    uint8
 62  contry_of_res_Saudi Arabia           248 non-null    uint8
 63  contry_of_res_South Africa           248 non-null    uint8
 64  contry_of_res_South Korea            248 non-null    uint8
 65  contry_of_res_Sweden                 248 non-null    uint8
 66  contry_of_res_Syria                  248 non-null    uint8
 67  contry_of_res_Turkey                 248 non-null    uint8
 68  contry_of_res_U.S. Outlying Islands  248 non-null    uint8
 69  contry_of_res_United Arab Emirates   248 non-null    uint8
 70  contry_of_res_United Kingdom         248 non-null    uint8
 71  contry_of_res_United States          248 non-null    uint8
dtypes: int32(5), int64(11), uint8(56)
memory usage: 41.7 KB

In [28]:
df.to_csv("./Data/child_cleaned.csv", index=False)